@import 'styles/variables.scss';


.full-background {
    background-color: $background-grey;
    width: 100vw;
    min-height: 100vh;
}

#newPostForm {
    margin-top: 100px;
}

#bodyInput {
    width: 100%;
}

#newPostPreview {
    width: 100%;
    display: block;
    background-color: white;
}