nav.navbar.navbar-expand-lg.navbar-light.fixed-top#mainNav
    .container
        a.navbar-brand(routerLink='/') Start Bootstrap
        button.navbar-toggler.navbar-toggler-right(
            type='button',
            (click)='isMenuCollapsed = !isMenuCollapsed',
            aria-controls='navbarResponsive',
            aria-expanded='false',
            aria-label='Toggle navigation'
        )
            fa-icon.ml-1([icon]='["fas", "bars"]')
        .collapse.navbar-collapse([ngbCollapse]='isMenuCollapsed')
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(routerLink='/') Home
                li.nav-item
                    a.nav-link(routerLink='/about') About
                li.nav-item
                    a.nav-link.icon(href='https://github.com/StartBootstrap/sb-clean-blog-angular', target='_blank')
                        fa-icon([icon]='["fab", "github"]')
                li.nav-item(
                    *ngIf='isLoggedIn && isOnPost'
                )
                    a.nav-link.pointer(
                        (click)='editPost()',
                    ) Edit Post

            form.form-inline.ml-lg-2(
                *ngIf='isLoggedIn'
            )
                a.btn.btn-primary(routerLink='/new') New Post
                
                
