// Import Clean Blog 
@import "clean-blog/clean-blog.scss";

// Import Prism
@import 'prism.scss';

.pointer {
    cursor: pointer;
}

.full-background {
    background-color: $gray-800;
    width: 100vw;
    min-height: 100vh;
    padding-bottom: 10rem;
}

#mainNav .btn {
    font-size: 0.75rem;
    padding: 0.75rem 1rem;
}