@import 'styles/variables.scss';

#newPostForm {
    margin-top: 10rem;
}

#bodyInput {
    width: 100%;
}

#newPostPreview {
    width: 100%;
    display: block;
    background-color: $white;
    border-radius: $border-radius;
}

.form-text {
    font-size: 0.8rem;
}