sb-layout-blog(
    *ngIf='(post$ | async) as post;',
)
    sb-clean-blog-header(
        [backgroundImage]='post.backgroundImage',
        [heading]='post.heading',
        [subHeading]='post.subHeading',
        [meta]='post.meta'
    )
