footer
    .container
        .row
            .col-lg-8.col-md-10.mx-auto
                ul.list-inline.text-center
                    li.list-inline-item
                        a(href='https://twitter.com/sbootstrap', target='_blank')
                            fa-stack(size="lg")
                                fa-icon.fa-stack-2x([icon]='["fas", "circle"]', stackItemSize="2x")
                                fa-icon.fa-stack-1x.fa-inverse([icon]='["fab", "twitter"]', stackItemSize="1x")
                    li.list-inline-item
                        a([routerLink]='')
                            fa-stack(size="lg")
                                fa-icon.fa-stack-2x([icon]='["fas", "circle"]', stackItemSize="2x")
                                fa-icon.fa-stack-1x.fa-inverse([icon]='["fab", "facebook-f"]', stackItemSize="1x")
                    li.list-inline-item
                        a(href='https://github.com/StartBootstrap/sb-clean-blog-angular', target='_blank')
                            fa-stack(size="lg")
                                fa-icon.fa-stack-2x([icon]='["fas", "circle"]', stackItemSize="2x")
                                fa-icon.fa-stack-1x.fa-inverse([icon]='["fab", "github"]', stackItemSize="1x")
                p.copyright.text-muted Copyright © Your Website 2020